In [1]:
import pandas as pd
import mysql.connector
import numpy as np

In [2]:
df_buses_1=pd.read_csv(r"C:/Users/PRIYA/OneDrive/Desktop/Red_Bus_Project/Andhra_Details_df.csv")
df_buses_2=pd.read_csv(r"C:/Users/PRIYA/OneDrive/Desktop/Red_Bus_Project/Kerala_Details_df.csv")
df_buses_3=pd.read_csv(r"C:/Users/PRIYA/OneDrive/Desktop/Red_Bus_Project/Telangana_Details_df.csv")
df_buses_4=pd.read_csv(r"C:/Users/PRIYA/OneDrive/Desktop/Red_Bus_Project/Kadamba_Details_df.csv")
df_buses_5=pd.read_csv(r"C:/Users/PRIYA/OneDrive/Desktop/Red_Bus_Project/South_Bengal_Details_df.csv")
df_buses_6=pd.read_csv(r"C:/Users/PRIYA/OneDrive/Desktop/Red_Bus_Project/Rajasthan_Details_df.csv")
df_buses_7=pd.read_csv(r"C:/Users/PRIYA/OneDrive/Desktop/Red_Bus_Project/Himachal_Details_df.csv")
df_buses_8=pd.read_csv(r"C:/Users/PRIYA/OneDrive/Desktop/Red_Bus_Project/Assam_Details_df.csv")
df_buses_9=pd.read_csv(r"C:/Users/PRIYA/OneDrive/Desktop/Red_Bus_Project/Uttar_Pradesh_Details_df.csv")
df_buses_10=pd.read_csv(r"C:/Users/PRIYA/OneDrive/Desktop/Red_Bus_Project/West_Bengal_Details_df.csv")

Final_df=pd.concat([df_buses_1,df_buses_2,df_buses_3,df_buses_4,df_buses_5,df_buses_6,
                    df_buses_7,df_buses_8,df_buses_9,df_buses_10],ignore_index=True)
Final_df

,Bus_name,Bus_type,Start_time,End_time,Total_duration,Price,Seats_Available,Ratings,Route_Links,Route_Names
0,APSRTC - 35061,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",16:00,00:10,08h 10m,INR 469,30 Seats available,4.0,https://www.redbus.in/bus-tickets/vijayawada-t...,Vijayawada to Hyderabad
1,APSRTC - 35271,INDRA(A.C. Seater),16:00,21:50,05h 50m,INR 567,32 Seats available,3.8\n73,https://www.redbus.in/bus-tickets/vijayawada-t...,Vijayawada to Hyderabad
2,APSRTC - 3585,AMARAVATHI (VOLVO / SCANIA A.C Multi Axle),16:30,22:25,05h 55m,INR 720,29 Seats available,3.8\n117,https://www.redbus.in/bus-tickets/vijayawada-t...,Vijayawada to Hyderabad
3,APSRTC - 35133,AMARAVATHI (VOLVO / SCANIA A.C Multi Axle),17:00,22:50,05h 50m,INR 720,33 Seats available,3.4\n75,https://www.redbus.in/bus-tickets/vijayawada-t...,Vijayawada to Hyderabad
4,APSRTC - 24251,INDRA(A.C. Seater),17:00,21:55,04h 55m,INR 528,16 Seats available,3.5\n6,https://www.redbus.in/bus-tickets/vijayawada-t...,Vijayawada to Hyderabad
...,...,...,...,...,...,...,...,...,...,...
1947,Snemita Parisheba(Samanta),AC Seater (2+3),18:00,22:25,04h 25m,333,25 Seats available,3.6\n21,https://www.redbus.in/bus-tickets/kolkata-to-d...,Kolkata to Digha
1948,City Express (Shinjini),AC Seater (2+3),23:50,04:55,05h 05m,333,35 Seats available,2.8\n55,https://www.redbus.in/bus-tickets/kolkata-to-d...,Kolkata to Digha
1949,SBSTC-BARASAT - DIGHA - VIA - NIBEDITA SETU - ...,Non AC Seater (2+3),11:15,00:00,12h 45m,INR 141,42 Seats available,3.9,https://www.redbus.in/bus-tickets/barasat-west...,Barasat (West Bengal) to Contai (Kanthi)
1950,SBSTC-BARASAT - DIGHA - VIA - NIBEDITA SETU - ...,Non AC Seater (2+3),11:15,00:00,12h 45m,INR 100,42 Seats available,4.1,https://www.redbus.in/bus-tickets/barasat-west...,Barasat (West Bengal) to Nandakumar (west bengal)
1951,SBSTC-BARASAT - DIGHA - VIA - NIBEDITA SETU - ...,Non AC Seater (2+3),11:15,00:00,12h 45m,INR 79,42 Seats available,4.5,https://www.redbus.in/bus-tickets/barasat-west...,Barasat (West Bengal) to Kolaghat

## Data Cleaning

In [3]:
Final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1952 entries, 0 to 1951
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Bus_name         1952 non-null   object
 1   Bus_type         1952 non-null   object
 2   Start_time       1952 non-null   object
 3   End_time         1952 non-null   object
 4   Total_duration   1952 non-null   object
 5   Price            1952 non-null   object
 6   Seats_Available  1952 non-null   object
 7   Ratings          1952 non-null   object
 8   Route_Links      1952 non-null   object
 9   Route_Names      1952 non-null   object
dtypes: object(10)
memory usage: 152.6+ KB

In [4]:
Final_df["Price"]=Final_df["Price"].str.replace("INR","")
Final_df["Price"]=Final_df["Price"].astype(float)
Final_df["Price"].fillna(0)

0       469.0
1       567.0
2       720.0
3       720.0
4       528.0
        ...
1947    333.0
1948    333.0
1949    141.0
1950    100.0
1951     79.0
Name: Price, Length: 1952, dtype: float64

In [5]:
Final_df["Ratings"] = Final_df["Ratings"].astype(str)
Final_df["Ratings"] = Final_df["Ratings"].str.replace("New", "", regex=True)
Final_df["Ratings"] = Final_df["Ratings"].str.strip()
Final_df["Ratings"] = Final_df["Ratings"].str.split().str[0]
Final_df["Ratings"] = pd.to_numeric(Final_df["Ratings"], errors="coerce")
Final_df["Ratings"] = Final_df["Ratings"].fillna(0)

In [6]:
Final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1952 entries, 0 to 1951
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Bus_name         1952 non-null   object
 1   Bus_type         1952 non-null   object
 2   Start_time       1952 non-null   object
 3   End_time         1952 non-null   object
 4   Total_duration   1952 non-null   object
 5   Price            1952 non-null   float64
 6   Seats_Available  1952 non-null   object
 7   Ratings          1952 non-null   float64
 8   Route_Links      1952 non-null   object
 9   Route_Names      1952 non-null   object
dtypes: float64(2), object(8)
memory usage: 152.6+ KB

In [7]:
Final_df = Final_df[Final_df["Price"] <= 7000]
Final_df = Final_df.replace({np.nan: None})

path=r"C:/Users/PRIYA/OneDrive/Desktop/REDBUS_PROJECT/State_Files/FinalData.csv"
Final_df.to_csv(path,index=False)

## MySQL Database Creation

In [8]:
pip install mysql-connector-python

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: mysql-connector-python in c:\users\priya\appdata\roaming\python\python312\site-packages (9.1.0)
Note: you may need to restart the kernel to use updated packages.

In [9]:
import mysql.connector
print("MySQL Connector installed and imported successfully!")

MySQL Connector installed and imported successfully!

In [10]:
con= mysql.connector.connect(
    host="localhost",
    user="root",
    password='123456789',
    autocommit=True
    )
print(con)

<mysql.connector.connection.MySQLConnection object at 0x0000027C7C842BD0>

In [11]:
mycursor=con.cursor()
mycursor.execute ("create database if not exists  red_bus_details")

In [12]:
mycursor.execute("USE red_bus_details")

In [13]:
mycursor.execute('''CREATE TABLE IF NOT EXISTS bus_details(
                  ID INT AUTO_INCREMENT PRIMARY KEY,
                  Bus_name VARCHAR(255) NOT NULL,
                  Bus_type VARCHAR(255) NOT NULL,
                  Start_time VARCHAR(255) NOT NULL,
                  End_time VARCHAR(255) NOT NULL,
                  Total_duration VARCHAR(255) NOT NULL,
                  Price FLOAT NULL,
                  Seats_Available VARCHAR(255) NOT NULL,
                  Ratings Float NULL,
                  Route_link VARCHAR(255) NULL,
                  Route_name VARCHAR(255) NULL
                  )''')
print("Table Created successfully")

Table Created successfully

In [15]:
insert_values = '''INSERT INTO bus_details(
                    Bus_name,
                    Bus_type,
                    Start_time,
                    End_time,
                    Total_duration,
                    Price,
                    Seats_Available,
                    Ratings,
                    Route_link,
                    Route_name)
                  VALUES(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)'''
data = Final_df.values.tolist()
print("DataRead",data[1])
mycursor.executemany(insert_values, data)

con.commit()

print("Values inserted successfully")

DataRead ['APSRTC - 35271', 'INDRA(A.C. Seater)', '16:00', '21:50', '05h 50m', 567.0, '32 Seats available', 3.8, 'https://www.redbus.in/bus-tickets/vijayawada-to-hyderabad', 'Vijayawada to Hyderabad']
Values inserted successfully